@font-face {
    font-family: 'Sansation Light';
    font-style: normal;
    font-weight: normal;
    src: local('Sansation Light'), url('../fonts/Sansation_Light.woff') format('woff');
}

@font-face {
    font-family: 'Sansation';
    font-style: normal;
    font-weight: normal;
    src: local('Sansation'), url('../fonts/Sansation_Regular.woff') format('woff');
}

@font-face {
    font-family: 'Sansation Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Sansation Bold'), url('../fonts/Sansation_Bold.woff') format('woff');
}
