// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

$brand-primary:         #0878BD;
$brand-secondary:       #4B5660;
$brand-logo:            #2B2D6A;
$brand-readmore:        #F83A3A;
$brand-yellow:          #FFA728;
$brand-green:           #8bc34a;
